$myFont: "Overpass", sans-serif;
$primaryColor: hsl(25, 97%, 53%);
$whiteColor: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(216, 12%, 54%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);
$paragraphFontSize: 1rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $veryDarkBlue;
  font-family: $myFont;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
}
.content {
  width: 25rem;
  height: 22rem;
  padding: 1rem;
  background-color: $darkBlue;
  border-radius: 0.5rem;
}
.icon {
  background-color: hsl(213, 18%, 24%);
  border-radius: 50%;
  vertical-align: middle;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1rem;
  margin: 0.5rem;
}
h1 {
  font-weight: 700;
  padding: 0.5rem;
  color: $whiteColor;
}
p {
  font-weight: 400;
  padding: 0.5rem;
  font-size: $paragraphFontSize;
  color: $lightGrey;
}
.form {
  padding: 0.5rem;
  width: 100%;
  .star-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .radio-one-input {
    display: none;
  }
  .label-1 {
    display: block;
    cursor: pointer;
    margin-right: 3.5rem;
    margin-bottom: 3.2;
    .one {
      border-radius: 100%;
      height: 3rem;
      width: 3rem;
      background-color: hsl(213, 18%, 24%);
      position: absolute;
      transition: background-color 0.2s;
    }
    .one::after {
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 100%;
      position: relative;
      top: 0;
      left: 0;
      background-color: $mediumGrey;
      opacity: 0;
      transition: opacity 0.2s;
    }
    div {
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50% -50%);
      font-size: 1rem;
      color: $whiteColor;
      font-weight: 400;
      z-index: 1;
    }
    .one:hover {
      background-color: $primaryColor;
    }
    .radio-one-input:checked ~ .label-1 .one::after {
      opacity: 1;
    }
  }
}

.btn {
  text-align: center;
  #btn {
    background-color: $primaryColor;
    border: none;
    border-radius: 1rem;
    color: $whiteColor;
    padding: 0.5rem 6rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $paragraphFontSize;
    cursor: pointer;
  }
  #btn:hover {
    background-color: $whiteColor;
    color: $primaryColor;
  }
}


@media only screen and (max-width: 414px) {
  body {
    background-color: $veryDarkBlue;
    font-family: $myFont;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
  }
  .content {
    width: 25rem;
    height: 22rem;
    padding: 1rem;
    background-color: $darkBlue;
    border-radius: 0.5rem;
  }
  .icon {
    background-color: hsl(213, 18%, 24%);
    border-radius: 50%;
    vertical-align: middle;
    width: 3.2rem;
    height: 3.2rem;
    padding: 1rem;
    margin: 0.5rem;
  }
  h1 {
    font-weight: 700;
    padding: 0.5rem;
    color: $whiteColor;
  }
  p {
    font-weight: 400;
    padding: 0.5rem;
    font-size: $paragraphFontSize;
    color: $lightGrey;
  }
  .form {
    padding: 0.5rem;
    width: 100%;
    .star-rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .radio-one-input {
      display: none;
    }
    .label-1 {
      display: block;
      cursor: pointer;
      margin-right: 3.5rem;
      margin-bottom: 3.2;
      .one {
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        background-color: hsl(213, 18%, 24%);
        position: absolute;
        transition: background-color 0.2s;
      }
      .one::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: $mediumGrey;
        opacity: 0;
        transition: opacity 0.2s;
      }
      div {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50% -50%);
        font-size: 1rem;
        color: $whiteColor;
        font-weight: 400;
        z-index: 1;
      }
      .one:hover {
        background-color: $primaryColor;
      }
      .radio-one-input:checked ~ .label-1 .one::after {
        opacity: 1;
      }
    }
  }

  .btn {
    text-align: center;
    #btn {
      background-color: $primaryColor;
      border: none;
      border-radius: 1rem;
      color: $whiteColor;
      padding: 0.5rem 6rem;
      margin: 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: $paragraphFontSize;
      cursor: pointer;
    }
    #btn:hover {
      background-color: $whiteColor;
      color: $primaryColor;
    }
  }
}
