@use "abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: variables.$very-dark-blue;
  font-family: variables.$my-font;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
}
.content {
  width: 100%;
  max-width: 25rem;
  min-height: 22rem;
  padding: 1rem;
  margin: 1rem;
  background-color: variables.$dark-blue;
  border-radius: 1.5rem;
}
.icon {
  background-color: hsl(213, 18%, 24%);
  border-radius: 50%;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  margin: 0.5rem;
}

h1 {
  font-weight: 700;
  padding: 0.5rem;
  color: variables.$white-color;
}

p {
  font-weight: 400;
  padding: 0.5rem;
  font-size: variables.$paragraph-font-size;
  color: variables.$light-grey;
}

.form {
  padding: 0.5rem;
  width: 100%;
}

.rating-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rating {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
}

.radio-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.radio-input:checked ~ .rating-label {
  background-color: variables.$medium-grey;
}

.radio-input:hover ~ .rating-label {
  background-color: variables.$primary-color;
}

.rating-label {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: hsl(213, 18%, 24%);
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: variables.$light-grey;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin: 0.5rem;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  width: 100%;
  .btn {
    width: 100%;
    max-width: 20rem;
    background-color: variables.$primary-color;
    border: none;
    border-radius: 1rem;
    color: variables.$white-color;
    padding: 0.8rem 1rem;
    margin: 1rem;
    text-decoration: none;
    display: inline-block;
    font-size: variables.$paragraph-font-size;
    cursor: pointer;
    &:hover {
      background-color: variables.$white-color;
      color: variables.$primary-color;
    }
  }
}

.thank-you-content {
  width: 100%;
  max-width: 26rem;
  min-height: 22rem;
  padding: 1rem;
  margin: 1rem;
  background-color: variables.$dark-blue;
  border-radius: 1.5rem;
}

.thank-you-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  img {
    width: 100%;
    height: 100%;
    max-width: 10rem;
  }
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  .the-rating {
    background-color: hsl(213, 18%, 24%);
    border-radius: 1rem;
    color: variables.$primary-color;
  }
}

.thank-you-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 1rem;
  color: variables.$white-color;
}

.thank-you-text {
  text-align: center;
  font-weight: 400;
  padding: 0.5rem;
  font-size: variables.$paragraph-font-size;
  color: variables.$light-grey;
}
